/* 
CSS class to personalize Roboto font

// <weight>: Use a value from 100 to 900
// <width>: Use a value from 75 to 100
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
 */


body {
    font-family: "Roboto", sans-serif;
}

.background-dark {
    background-color: #1f2937;
}