
/* html: General */
html {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding: 30px 0;
}

/* Hero: general */
#hero-base-txt {
    font-size: 18px;
}

.background-dark {
    background-color: #1f2937;
    padding: 20px 200px 0px;
}

/* Hero: navigation bar */
.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locations {
    margin-left: auto;
}

.contact,
.about {
    padding-left: 20px;
}

.logo-txt {
    font-size: 24px;
    margin-left: 5px;
}

/* Hero: main */
.hero {
    padding: 200px 0;
    display: flex;
    flex-wrap: wrap;
}

.hero-left {
    flex: 1 1 0;
    padding-right: 30px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.img-wraper {
    border-left: 2px solid #f9faf8;
    padding: 20px 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0;
}

.slogan {
    text-align: center; 
}

.top {
    margin-bottom: 3px;
    font-size: 38px; 
    border-bottom: 1px solid aquamarine;
}

.button.join {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 8px;
}

/* Information */

.background-light {
    color: #1f2937;
    background-color: #f9faf8;
    padding: 0 200px 100px;
}

.info-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    width: 250px;
}

.placeholder {
    border: 3px solid aquamarine;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.subtext {
    margin-top: 5px;
}

/* Quote section */
.background-quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 500px;
}

.q-wrap {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.quote {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.q-cite {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

footer {
    margin: 0;
}