
/* html: General */
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 30px;
}

p {
    padding: auto;
    margin: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 8px;
    font-weight: bold;
}

/* Bacgrounds */
.background-dark {
    background-color: #1f2937;
    padding: 20px 150px 0px;
    color: #f9faf8
}

.background-light {
    color: #1f2937;
    background-color: #f9faf8;
    padding: 100px 150px;
}

.background-quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 500px;
}

.background-dark.footer {
    padding: 20px 0;
    text-align: center;
}

/* Fonts */
.quote {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

.txt-grey-18px {
    font-size: 18px;
    color: #e5e7eb;
}

.txt-bold-24px {
    font-weight: bold;
    font-size: 24px;
}

/* Hero: navigation bar */
.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-txt {
    font-size: 24px;
    margin-left: 5px;
}

.locations {
    margin-left: auto;
}

.contact,
.about {
    padding-left: 20px;
}


/* Hero: main */
.hero {
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
}

.hero-left {
    flex: 1 1 0;
    padding-right: 30px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.img-wraper {
    border-left: 2px solid #f9faf8;
    padding: 20px 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0;
}

.slogan {
    text-align: center; 
}

.top {
    margin-bottom: 3px;
    font-size: 38px; 
    border-bottom: 1px solid aquamarine;
}

.hero-button {
    border: none;
    display: inline-block;
}

/* Information */
.info-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    width: 250px;
}

.placeholder {
    border: 3px solid aquamarine;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.subtext {
    margin-top: 5px;
}

/* Quote section */
.q-wrap {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.quote,
.q-cite {
    margin: 0;  
}

.q-cite {
    align-self: flex-end;
}

/* Call to action */
.cta {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.cta-button {
    border: 2px solid #f9faf8;
}

.cta-main {
    padding: 0;
    text-align: left;    
}